# Dependencies
node_modules
.pnpm-store

# Build
.next
dist
out
build
.turbo

# Environment
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Misc
*.tsbuildinfo
